.header, .footer {
    width: 100%;
    height: auto; 
    background-color: rgb(15, 3, 45);  
    padding-top: 20px;
    padding-bottom: 20px; 
    text-align: center;
    color: rgb(220, 216, 216);
    font-family: 'Courier New', Courier, monospace;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.side {
    background-color: rgb(131, 123, 154);
    padding: 20px;
    flex: 1;
    border: 2px solid #000; 
    border-radius: 5px; 
}

.main {
    background-color: rgb(208, 174, 174);
    padding: 30px;
    flex: 2;
    border: 2px solid #000; 
    border-radius: 5px;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
